<!DOCTYPE html>
<html>
  
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  
  <body>
    <div class="index">
      <div class="navbar index-divs">
        <div class="nav-item logo nav-item"> FLTK </div>
        <div class="nav-item nav-menu">
          <li class="menu-link"></li>
          <li class="menu-link"></li>
          <li class="menu-link"></li>
        </div>
        <div class="nav-item nav-btn">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="index-middle index-divs">
        <div class="index-middle_txt">
          
        </div>
        <button class="index-middle_btn">
          
        </button>
      </div>
      <div class="index-right index-divs">
        <img class="index-right_bg" src="" />
      </div>
    </div>
  </body>
</html>
